body
{
	/* Background pattern from subtlepatterns.com */
	background-image: url("img/hexellence.png");
	font-size: 24px;
	font-family: 'Lato', sans-serif;
	color: grey;
}
a:link    { color: #36b03c; text-decoration: none; }
a:visited { color: #36b03c; }
a:active  { color: #36b03c; }
a:hover   { color: #37b93d; text-decoration: underline; }
h1
{
	font-size: 64px;
	font-weight: 400;
	text-align: center;
	letter-spacing: 3px;
	margin-top: 0px;
	margin-bottom: 20px;
}
h4
{
	text-align: center;
	letter-spacing: 3px;
}
p
{
	text-align: center;
}
#tablica
{
	width: 400px;
	min-height: 300px;
	margin-left: auto;
	margin-right: auto;	
}
.container
{
	background-color: white;
	width: 800px;
	padding: 40px 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	text-align: center;
}
input[type=text],
input[type=email],
input[type=file],
input[type=password]
{
	width: 300px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
	margin-bottom: 10px;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #a5cda5;
	background-color: #e9f3e9;
	color: #428c42;
}
input[type=submit]
{
	width: 300px;
	background-color: #36b03c;
	font-size: 20px;
	color: white;
	padding: 15px 10px;
	margin-top: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}
input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}
input[type=submit]:hover
{
	background-color: #37b93d;
}
th, td
{
	border: 1px solid black;
	padding: 5px;
	width: 100%;
}
#bluebottom
{
	display: block;
	width: 50px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #a5cda5;
	background-color: #36b03c;
	font-size: 20px;
	color: white;	
}
#bluebottom a
{
	display: block;
	width: 50px;
	height: 50px;	
}
#bluebottom a:hover
{
	background-color: #37b93d;
}
.g-recaptcha
{	
	margin-left: 240px;	
}
h3
{
	margin-top: 200px;
}
#koniec, #koniec input[type=submit]
{
	font-size: 15px;	
}
.newpost
{
	border-radius: 5px;
	border: 3px solid grey;
	font-size: 15px;
}
.greenbox
{
	display: block;
	width: 200px;
	height: 70px;
	background-color: #36b03c;
	border-radius: 5px;
	color: white;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.conversation
{
	margin-top: 10px;
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid grey;
	padding: 5px;
	border-radius: 5px;
	background-color: #F5F5F5;
}
.conversation h3
{
	margin-top: 10px;
}
.unread
{
	font-weight: 700;
}
.messagebox
{
	width: 160px;
	height: 200px;
	position: fixed;
	left: 30px;
	top: 90px;
	border: 2px solid black;
	background-color: white;
}
@media screen and (min-width: 1000px) 
{
	.messagebox
	{
		position: fixed;
		left: 530px;
		top: 90px;
	}	
}
.messagebox2
{
	width: 160px;
	height: 200px;
	position: fixed;
	left: 30px;
	bottom: 150px;
	border: 2px solid black;
	background-color: white;
}
@media screen and (min-width: 1000px) 
{
	.messagebox2
	{
		position: fixed;
		left: 530px;
		bottom: 150px;
	}	
}		
.badInfo
{
		color: red;
}
.goodInfo
{
		color: green;
}
.error
{
	color:red;
	margin-top: 10px;
	margin-bottom: 10px;
}
.tabOne
{ 
	 float:	left; 
	 margin: 10px; 
	 padding: 5px;
}